REACT_APP_FIREBASE_API_KEY=AIzaSyCsq-AZBjTvfs7dZiGFyAE-kEYUWX_-kqo
REACT_APP_FIREBASE_AUTH_DOMAIN=women-bus-safety.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=women-bus-safety
REACT_APP_FIREBASE_STORAGE_BUCKET=women-bus-safety.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=1081292537985
REACT_APP_FIREBASE_APP_ID=1:1081292537985:web:b234393ce9f9eea221cd80
REACT_APP_FIREBASE_DATABASE_URL=https://women-bus-safety-default-rtdb.asia-southeast1.firebasedatabase.app
REACT_APP_BACKEND_URL=http://localhost:5000
REACT_APP_EMAILJS_SERVICE_ID=service_jw4g7ua
REACT_APP_EMAILJS_TEMPLATE_ID=template_avublga
REACT_APP_EMAILJS_PUBLIC_KEY=2HZ83sZKfLMrfwgmC
